<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Terms</key>
	<dict>
		<key>Human diversity</key>
		<dict>
			<key>Definition</key>
			<string>Human diversity is defined by the sum of unique biological and cultural variation within our species</string>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Chapter1/Page1</string>
				<key>Title</key>
				<string>Meet a person</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
